<div class="top-footer p-grid p-flex-wrap">
    <div class="p-col block-container">
        <p>O nas</p>
        <ul>
            <li><a href="">Historia</a></li>
            <li><a href="">Nasz zespół</a></li>
        </ul>
    </div>
    <div class="p-col block-container">
        <p>Nasze kancelarie</p>
        <ul>
            <li><a href="">Gdańsk</a></li>
            <li><a href="">Katowice</a></li>
            <li><a href="">Warszawa</a></li>
            <li><a href="">Wrocław</a></li>
        </ul>
    </div>
    <div class="p-col block-container">
        <p>Usługi</p>
        <ul>
            <li><a href="">Wypadki drogowe</a></li>
            <li><a href="">Sprawy rozwodowe</a></li>
            <li><a href="">Prawo karne</a></li>
        </ul>
    </div>
    <div class="p-col block-container">
        <p>Kariera</p>
        <ul>
            <li><a href="">Jak szkolimy</a></li>
            <li><a href="">Aktualne oferty pracy</a></li>
            <li><a href="">Ścieżki kariery</a></li>
        </ul>
    </div>
    <div class="p-col block-container">
        <p>Kontakt</p>
        <ul>
            <li><a href="">Gdzie nas znaleźć</a></li>
            <li><a href="">Formularz konaktowy</a></li>
            <li><a href="">Telefony</a></li>
        </ul>
    </div>
</div>
<div class="footer p-d-flex p-flex-column">
    <div class="p-d-flex p-ai-center p-jc-center">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-linkedin"></a>
    </div>
    <h3 class="copyright">Copyright© 2020 Netalyze. All rights reserved.</h3>
</div>