* {
  background-color: #16253f;
}

:host ::ng-deep .p-grid{
  margin-left: 0;
  margin-right: 0;
}

.top-footer {
  padding-top: 1%;
}

.block-container:first-child {
  border-left: none;
}

.block-container {
  text-transform: uppercase;
  border-left: 1px solid #b29688;
  margin-top: 10px;
}

.block-container p {
  font-size: 1.2rem;
  color: #b29688;
  margin-top: 0;
  padding-left: 5px;
}

.block-container a {
  text-decoration: none;
  color: lightgray;
}

.block-container ul {
  list-style-type: none;
  line-height: 2.5rem;
  padding-left: 10px;
}

.block-container li {
  font-size: 0.85rem;
  font-weight: 100;
}

.footer {
    min-height: 10vh;
    padding: 0 5px 10px 5px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    color:  #b29688;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .copyright {
      width: 100%;
      text-align: center;
      color:  #b29688;
      font-size: 1rem;
      font-weight: 100;
  }