.card {
  width: 23rem;
  height: 30rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 0.4), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
  margin: 2rem;
  background-color: #111624;
  
}

@media screen and (max-width: 992px) {
  .card {
    width: 18rem;
    margin: 0.5rem;
    height: 25rem;
  }
}

/* .card:hover {
  transform: translate(0.8rem, -0.8rem);
} */

.card h2 {
  font-weight: 200;
  letter-spacing: 0.03em;
  transition: 0.5s ease;
  color: #b29688;
}

.card p {
  color: lightgrey;
}

.card .image {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.5rem;
  filter: brightness(80%);
}

.icon-btn {
  height: 4rem;
  width: 4rem;
  background-color: whitesmoke;
  transition: 0.5s ease;
  color: black;
}

.card:hover .icon-btn {
  color: white;
  background-color: #b29688;
  transform: translate(0, 1.4rem);
}


.card .content {
  text-align: center;
  width: 80%;
}

.card .content p {
  font-size: 1.2rem;
  text-align: justify;
  text-align-last: center;
}

