.card {
  width: 23rem;
  height: 30rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: 0.5s ease;
  margin: 2rem;
}

.card:hover {
  transform: translate(0.8rem, -0.8rem);
}

.card h2 {
  transition: 0.5s ease;
}

.card:hover h2 {
  color: forestgreen;
}

.card .image {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.5rem;
}

.icon-btn {
  height: 4rem;
  width: 4rem;
  background-color: white;
  transition: 0.5s ease;
}

.card:hover .icon-btn {
  color: white;
  background-color: forestgreen;
  transform: translate(0, 1.4rem);
}


.card .content {
  text-align: center;
  width: 80%;
}

.card .content p {
  font-size: 1.2rem;
  text-align: justify;
  text-align-last: center;
}

