.main-container {
    background-color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    padding-top: 1%;
    text-align: center;
}

h1, h2, h3 {
    font-weight: lighter;
    letter-spacing: 0.05rem;
    color: #16253f;
}

.form-container {
    margin-left: 20%;
    margin-right: 20%;
}

input {
    margin-bottom: 10px;
}

.textarea-container {
    margin: 30px 0 30px 0;
}

.button-container {
    padding-bottom: 30px;
}

.radiobutton-container {
    text-align: center;
}

.p-field-checkbox, .p-field-radiobutton {
    display: block;
}

.p-field-radiobutton {
    color: #16253f;
    font-size: 1.2rem;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #b29688;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #b29688;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #b29688;
    background: #b29688;
}
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #b29688;
    background: #b29688;
    color: #ffffff;
}

:host ::ng-deep .p-inputtext:enabled:hover {
    border-color: #b29688;
}

:host ::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: #b29688;
}

:host ::ng-deep .p-button {
    background: #16253f;
    border: 1px solid #16253f;
    border-color: none;
}
:host ::ng-deep .p-button:enabled:hover {
    background: #b29688;
    border-color: #b29688;
}
:host ::ng-deep .p-button:enabled:active {
    background: #b29688;
    border-color: #b29688;
}

:host ::ng-deep .p-button:focus {
    box-shadow: none;
  }
