ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-list-container {
    background-color: #121727;
}

.p-text-center {
    font-size: 2.5em;
    color: #b29688;
    padding-top: 30px;
    margin-bottom: 20px;
}