ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-list-container {
    background-color: #16253f;
}

.p-text-center {
    font-size: 2.5em;
    color: #ffffff;
    padding-top: 30px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}