<div class="top-image-container"></div>
<div class="outer-container">
    <div class="top-text-container">
        <div class="header">
            <h1>Wpadłeś w kłopoty? Zdaj się na nas</h1>
        </div>
        <div class="introduction">
            <p>Prawo karne jest specyficzną i trudną dziedziną prawa. W sprawie karnej stawką często są nie tylko pieniądze, ale
                wolność Klienta. Dlatego w naszej kancelarii takie sprawy prowadzą tylko adwokaci
                posiadający w tym zakresie odpowiednie doświadczenie.
                Zapewniamy kompleksowe doradztwo i obronę skierowaną dla Klientów podczas wszystkich etapów postępowania karnego.</p>
        </div>
    </div>
    <div class="cards-top-text">
            <h1>W tym Ci pomożemy:</h1>
    </div>
    <div class="mid-section p-grid">
        <div class="chart-container p-col-12 p-md-12 p-lg-6">
            <h2>
                Sprawy karne prowadzone przez naszą kancelarię
            </h2>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
        <div class="p-col-12 p-md-12 p-lg-6">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-evenly p-ai-center p-jc-center p-flex-wrap">
                <p-card class="p-mb-2 p-mr-2" header="Prawo karne skarbowe">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
                <p-card class="p-mb-2 p-mr-2" header="Prawo karne materialne">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
                <p-card class="p-mb-2 p-mr-2" header="Prawo karne formalne">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <h1>Pozwól od teraz nam się tym zająć.</h1>
        <h2>
            <a href="tel:+48123456789">+48 123 456 789</a>
        </h2>
    </div>
</div>