.outer-container {
    background-color:rgb(245, 245, 245);
    padding-bottom: 20px;
    padding-top: 1px;
}
.introduction p{
    font-size: 1.3em;
    line-height: 1.9em;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    color: #16253f;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgba(0, 0, 0, 1), 0 1px 2px 0 rgba(0, 0, 0, 1);

}
.top-image-container {
    width: 100%;
    background-image: url("/assets/images/criminal_law.jpg");
    height: 60vh;
    background-position: 20% 80%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.top-text-container {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.header h1{ 
    font-size: 2.5em;
    line-height: 1.1em;
    font-weight: lighter;
    letter-spacing: 0.08rem;
    color: #b29688;
}
.mid-section{
    display: flex;
    vertical-align: middle;
    color: #b29688;
}

:host ::ng-deep .p-card {
    background: #fcfcfc;
    color: #16253f;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgba(0, 0, 0, 1);
}

:host ::ng-deep .p-card-title {
    color: #b29688;
    border-bottom: 1px solid #b29688;
    font-weight: 300;
}

.chart-container h2{
    text-align: center;
    font-size: 30px;
    font-weight:lighter;
}
.cards {
    border-bottom: 1px solid #b29688;
}
.cards-top-text h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #b29688;
    font-weight: lighter;
}
.contact-section {
    margin-top: 50px;
    text-align: center;
    color: #b29688;
}

.contact-section h1 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.contact-section a {
    font-size: 1.8em;
    font-weight: lighter;
    text-decoration: none;
    color: #16253f;
}