:host ::ng-deep .p-menubar {
  background-color: #16253f;
  border: none;
  border-radius: 0;
  padding: 30px 30px 30px 90px;
}

:host ::ng-deep .p-menubar #logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 50px;
}

@media screen and (max-width: 960px) {
  :host ::ng-deep .p-menubar #logo {
    top: 19px;
    left: 13px;
  }
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: none;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #16253f;
}

:host ::ng-deep .p-menubar .p-submenu-list {
  background: #16253f;
}

:host ::ng-deep .p-menubar .p-menubar-root-list {
  background: #16253f;
}

:host ::ng-deep .p-menuitem a:hover, .p-menuitem-text {
  background-color: #16253f !important;
  color: #ffffff !important;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
}

:host ::ng-deep .p-menuitem-text {
  color: #ffffff !important;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-weight: 200;
}

:host ::ng-deep .p-menubar-button {
  color: #ffffff;
}

:host ::ng-deep .p-menubar-button:hover {
  color: #16253f;
  background-color: #ffffff;
}

:host ::ng-deep .p-menubar .p-menubar-button:focus {
  box-shadow: none;
}

:host ::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #16253f;
}

:host ::ng-deep .p-menubar .p-menuitem-link:focus {
  box-shadow: none;
}