/* Odstęp menubara przed logo */
:host ::ng-deep .p-menubar {
  background-color: #121727;
  border: none;
  border-radius: 0;
  padding: 30px 30px 30px 90px;
}

/* Pozycja logo przy oknie większym niż 960 px */
:host ::ng-deep .p-menubar #logo {
  position: absolute;
  left: 20px;
  top: 25px;
  height: 50px;
}

/* Logo przy oknie mniejszym niż 960 px
Uwaga: Wartość musi zgadzać się z tą w themes.css 
*/
@media screen and (max-width: 960px) {
  :host ::ng-deep .p-menubar #logo {
    top: 19px;
    left: 13px;
  }
}

/* Obwódka elementu w menu */
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: none;
}

/* Kolor elementu menu po hooverze */
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #121727;
}

/* Kolor tła submenu */
:host ::ng-deep .p-menubar .p-submenu-list {
  background: #121727;
}

/* Kolor tła menu */
:host ::ng-deep .p-menubar .p-menubar-root-list {
  background: #121727;
}

/* Hover na elemencie menu */
:host ::ng-deep .p-menuitem a:hover {
  background-color: #121727 !important;
  text-decoration: underline;
  text-decoration-color: #b29688;
  text-decoration-style: solid;
}

/* Styling tekstu w menu */
:host ::ng-deep .p-menuitem-text {
  color: #b29688 !important;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-weight: 200;
}

/* Kolory przyciku rozwijania menu */
:host ::ng-deep .p-menubar-button {
  color: #b29688;
}

:host ::ng-deep .p-menubar-button:hover {
  color: #121727;
  background-color: #b29688;
}

/* Obwódka przycisku hamburger rozwijania menu */
:host ::ng-deep .p-menubar .p-menubar-button:focus {
  box-shadow: none;
}