.main-container {
    background-color:rgb(245, 245, 245);
}

.charts-top {
    text-align: center;
    border-top: 1px solid #16253f;
}

.chart-container p{
    text-align: center;
    color: #16253f;
    padding-left: 20px;
    padding-right: 20px;
}

.charts-top h1 {
    color: #16253f;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}

.p-grid {
    margin: 0;
    padding-bottom: 10px;
}