<div class="main-container">
    <div class="charts-top">
        <h1>Nasze statystyki mówią same za siebie</h1>
    </div>
    <div class="charts p-grid">
        <div class="chart-container p-col-12 p-md-12 p-lg-6">
            <p>Niezmiennie, od 2012 roku, możemy pochwalić się stale rosnącym odsetkiem wygranych spraw i sporów sądowych. Dodatkowo, w statystykach nie zostają uwzględnione sprawy zakończone na korzyść klienta, które udało się zamknąć bez postępowania sądowego. Jako jedyna kancelaria w Polsce możemy poszczycić się takim wynikiem</p>
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>
        <div class="chart-container p-col-12 p-md-12 p-lg-6">
            <p>Specjalizujemy się w reprezentowaniu każdego rodzaju klientów - indywidualnych, zagranicznych oraz firm. Do każdego z nich podchodzimy indywidualnie z dbałością o potrzeby każdego z nich. Posiadamy wykwalifikowanych i wyszkolonych pracowników w każdym sektorze gospodarki i prawa</p>
            <p-chart type="doughnut" [data]="doughnutData"></p-chart>
        </div>
    </div>
</div>