<div class="top-image-container"></div>
<div class="outer-container">
    <div class="top-text-container">
        <div class="header">
            <h1>Zakończ ten etap w spokoju i z godnością. Pomożemy Ci</h1>
        </div>
        <div class="introduction">
            <p>Nasza kancelaria oferuje kompleksowe wsparcie, poczynając od porad prawnych, a na reprezentacji klienta w sądzie kończąc. Rozwody to
            tematyka bardzo szeroka i problematyczna, a nasza kancelaria ma już w niej długie doświadczenie. Staramy się za każdym razem dobrze doradzić przy podejmowaniu decyzji, jak najszybciej
            przeprowadzić proces rozwodowy oraz podział majątku po rozwodzie i wspierać małżonków w zakresie osiągnięcia najlepszego
            rozwiązania.</p>
        </div>
    </div>
    <div class="cards-top-text">
            <h1>Zrobimy to za Ciebie:</h1>
    </div>
    <div class="mid-section p-grid">
        <div class="chart-container p-col-12 p-md-12 p-lg-6">
            <h2>
                Sprawy rozwodowe prowadzone przez naszą kancelarię
            </h2>
            <p-chart type="doughnut" [data]="doughnutData" [options]="doughnutOptions"></p-chart>
        </div>
        <div class="p-col-12 p-md-12 p-lg-6">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-evenly p-ai-center p-jc-center p-flex-wrap">
                <p-card class="p-mb-2 p-mr-2" header="Pozew o alimenty">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
                <p-card class="p-mb-2 p-mr-2" header="Rozwód z orzeczniem o winie i bez orzekania o winie ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
                <p-card class="p-mb-2 p-mr-2" header="Zbiór dokumentacji postępowania">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                        numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                        neque quas!</p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <h1>Pozwól od teraz nam się tym zająć.</h1>
        <h2>
            <a href="tel:+48123456789">+48 123 456 789</a>
        </h2>
    </div>
</div>