/*Wystylowanie bannera - wysokość do zmiany żeby zgrywała się dobrze z menu*/
.banner {
    width: 100%;
    background-image: url("../../assets/images/banner.jpeg");
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Tekst nad przyciskiem */
p {
    color: #b29688;
}

/*Kontener na button i naglowek*/
.p-d-flex {
    height: 90vh;
    width: 50%;
}

/* Kolor przycisku */
.p-button-lg {
    background: none;
    border-color: lightgray;
    color: lightgray;
    border-radius: 0;
}

.p-button-lg:hover {
    background: none;
    border-color: white;
    color: white;
}

.content {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

@media screen and (max-width: 960px) {
    .p-d-flex {
        width: 100%;
    }
    .content {
        text-align: center;
    }
}