<div class="content">
    <h1>Nadal masz wątpliwości? Skontaktuj się z jednym z naszych konsultantów</h1>
    <div class="contact">
        <div class="number">
            <a href="tel:+48123456789">+48123456789</a>
        </div>
    </div>
    <div class="contact">
        <div class="number">
            <a href="mailto:contact@brslawyers.com">contact@brslawyers.com</a>
        </div>
    </div>
    <h1>lub napisz do nas za pomocą</h1>
    <div class="number">
        <a [routerLink]="'kontakt'">formularza kontaktowego</a>
    </div>
</div>