<div class="p-d-flex p-flex-row">
  <div *ngIf="scrWidth > 1280" class="map">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let offer of offers" [latitude]="offer.officeLoc.officeLat" [longitude]="offer.officeLoc.officeLong" (markerClick)="markerClicked($event)"></agm-marker>
    </agm-map>
  </div>
<app-offers-list *ngIf="!itemSelected" (offerClick)="offerClicked($event)" [offers]="offers"></app-offers-list>
<app-offer-details *ngIf="itemSelected" (closeButtonClicked)="detailsClosed($event)" [selectedOffer]="item"></app-offer-details>
</div>