<div class="top-image-container"></div>
<div class="outer-container">
    <div class="main-container">
        <div class="top-text-container">
            <div class="header">
                <h1>Stłuczka? Wypadek? Zajmiemy się wszystkim za Ciebie tak, abyś Ty mógł spać spokojnie.</h1>
            </div>
            <div class="introduction">
                <p>W naszej kancelarii na pierwszym miejscu stawiamy klienta. Nasi kluczowi pracownicy posiadają najlepsze
                    na rynku kwalifikacje w zakresie rozwiązywania sporów dotyczących prawa drogowego oraz biegłość w
                    postępowaniach sądowych w procesach o wypłatę odszkodowań. Do sprawy każdego z naszych klientów
                    podchodzimy starannie i z niezwykłą dokładnością.</p>
            </div>
        </div>
        <div class="cards-top-text">
            <h1>Zrobimy to za Ciebie:</h1>
        </div>
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-evenly p-ai-center p-jc-center p-flex-wrap">
            <p-card class="p-mb-2 p-mr-2" header="Dokumentacja miejsca zdarzenia">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
            <p-card class="p-mb-2 p-mr-2" header="Złożenie dokumentów u ubezpieczyciela">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
            <p-card class="p-mb-2 p-mr-2" header="Zbiór dokumentacji postępowania">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
        </div>
        <div class="contact-section">
            <h1>Pozwól od teraz nam się tym zająć.</h1>
            <h2><a href="tel:+48123456789">+48 123 456 789</a></h2>
        </div>
    </div>
</div>