<div class="main-container">
    <div class="top-image-container"></div>
    <div class="top-text-container">
        <div class="header">
            <h1>Stłuczka? Wypadek? Zajmiemy się wszystkim za Ciebie tak, abyś Ty mógł spać spokojnie.</h1>
        </div>
        <div class="introduction">
            <p>W naszej kancelarii na pierwszym miejscu stawiamy klienta. Nasi kluczowi pracownicy posiadają najlepsze na rynku kwalifikacje w zakresie rozwiązywania sporów dotyczących prawa drogowego oraz biegłość w postępowaniach sądowych w procesach o wypłatę odszkodowań. Do sprawy każdego z naszych klientów podchodzimy starannie i z niezwykłą dokładnością.</p>
        </div>
    </div>
</div>